* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: white;
    background-color: lightblue;
}

header {
    height: auto;
    height: 100px;
}

h1 {
    margin-top: 50px;
    text-align: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

nav {
    text-align: center;
    align-self: center;
}

.purpleBtn {
    box-shadow: inset -4px 40px 0px -25px#5722ac;
    background-color: #6e28dd;
    border-radius: 11px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 10px 8px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #4c35b2;
}

.purpleBtn:hover {
    background-color: #7e4dbd;
}

.greenBtn {
    box-shadow: inset -4px 40px 0px -25px#1ee63f;
    background-color: #31ee41;
    border-radius: 11px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 10px 8px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #38df05;
}

.greenBtn:hover {
    background-color: #21ca1b;
}